[Unit]
Description=web-ruby
After=network.target mysql.service

[Service]
User=isucon
ExecStart=/home/isucon/.x bundle exec rackup -o 0.0.0.0 -p 9292
WorkingDirectory=/home/isucon/webapp/ruby
EnvironmentFile=/home/isucon/env
TimeoutStopSec=1

[Install]
WantedBy=multi-user.target
